<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Uber Data Tool</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="style.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body>
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <h4>Uber</h4>
        <h5>Internship S4S</h5>
      </div>
    </div>
  </header>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Bottlenecks in Amsterdam</h1>
        <p class="lead text-muted">
          This tool visualises expected bottlenecks in 2020. Data from <a
            href="https://movement.uber.com/explore/amsterdam/travel-times">Uber</a> was used to train a
          machine learning model. Pick a specific moment and see which 10 (out of 180)
          areas will have the biggest increase in travel time.

        </p>

        <div class="row justify-content-md-center">
          <form action="{{ url_for('predict')}}" method="post">
            <div class="form-inline">
              <div class="form-row">

                <select class="form-control" id="timeselect" name="time" required>
                  <option value="">Select moment</option>
                  <option value="Early Morning">Early Morning</option>
                  <option value="AM Peak">AM Peak</option>
                  <option value="Midday">Midday</option>
                  <option value="PM Peak">PM Peak</option>
                  <option value="Evening">Evening</option>
                </select>

                <select class="form-control" id="dayselect" name="weekend" required>
                  <option value="">Select day</option>
                  <option value="0">Weekday</option>
                  <option value="1">Weekend</option>
                </select>

                <select class="form-control" id="quarterselect" name="quarter" required>
                  <option value="">Select quarter</option>
                  <option value="1">Jan - Mar</option>
                  <option value="2">Apr - Jun</option>
                  <option value="3">Jul - Sep</option>
                  <option value="4">Okt - Dec</option>
                </select>

              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-lg btn-secondary">Predict</button>

          </form>
        </div>
      </div>

      <div class="chart" id="bargraph">
        <script>
          var graphs = {{ plot | safe}};
          Plotly.plot('bargraph', graphs, {});
        </script>
      </div>

      <div class="container">
        <p>
            {{ prediction_text }}
        </p>
      </div>


    </section>
    </div>

  </main>

</body>

</html>