:root {
  --jumbotron-padding-y: 2rem;
}

h4 {
  color: rgb(243, 242, 242);
  margin-bottom: 0;
}

h5 {
  color: rgb(243, 242, 242);
  margin-bottom: 0;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-bottom: 2rem;
}

footer p {
  margin-bottom: .25rem;
  color: #6c757d;
  
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }